
@import "libs";
@import "fonts";
@import "vars";
@import "global";


/*

    index.html

*/ 

/*

    haedr start

*/ 
.header {
    padding: 32px 0 94px;
    background-size: cover;
    background-position: center;
}

.nav-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 605px;
    width: 100%;
    margin-bottom: 11px;
    &__link {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        position: relative;
        padding-bottom: 5px;
        &::before {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #FF9F2F;
            transition: 0.2s;
            transform: scaleX(0);
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.nav-icon {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav-line__phone {
    margin-bottom: 16px;
    font-weight: 600;
    color: #fff;
}

// Header Choose / start

.choose {
    padding-top: 142px;
    padding-bottom: 108px;
}

.choose__title {
    color: #fff;
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 500px;
    margin-bottom: 40px;
}

.choose__text {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 56px;
}

// Header Choose / end

/*

    haedr end

*/ 

@import "media";
